:root {
    --show: none;
}
body {
    margin: 0px;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-family: arial;
    width: 100%;
    height: 100%;
}

button, 
input {
    
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
}


header nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    align-items: center;
    width: 100%;
}

header nav ul li{
    margin: 12px;
}

header nav ul li button {
    color: #FFF;
    background-color: #116de6; 
    padding: 10px 25px;
    border-style: none;
    border-radius: 5px;
}

header nav ul li button:hover {
    cursor: pointer;
    /*#1a73e8*/
    background-color: #237ef5; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85.8vh;
    
}
.search-input {
    margin-bottom: 30px;
}

.logo-cont {
    margin-bottom: 20px;
}

.input-box {
    width: 600px;
    padding: 12px;
    text-indent: 30px;
    font-size: 17px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
}

.input-box:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.input-box:focus {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    outline: none;
    --show: initial;
}

.icon-search {
    position: absolute;
    margin-top: 11px;
    transform: scale(0.70);
    opacity: 0.8;
    margin-left: 10px;
}

.x-icon {
    position: absolute;
    width: 24px;
    height: auto;
    margin-top: 11px;
    margin-left: -50px;
    opacity: 0.5;
    display: var(--show);
}

.x-icon:hover {
    cursor: pointer;
}

.search-buttons {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    
}

.google-search,
.lucky-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 5px;
}

.google-search p,
.lucky-search p {
    padding: 0px;
    margin: 0px;
}

.google-search:hover,
.lucky-search:hover {
    box-shadow: 0px 0px 0.5px #000;
    text-decoration: none;
}

.search-msg {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
}

.languages-msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.language {
    margin: 0px 5px;
}

.icon-nav {
    width: 24px;
    height: auto;
    
}

.cont-icon-nav {
    padding: 10px;
}

.cont-icon-nav:hover {
    background-color: rgba(0,0,0,.07);
    border-radius: 50%;
}

.icon-search {
    width: 24px;
    height: auto;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.57);
}

footer hr {
    color: rgba(0,0,0,.15);
    margin: 0;
}


.country-cont {
    padding: 0px 15px;
    margin: 0px 15px;
    font-size: 15px;
}



.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px 20px;
    list-style-type: none;
}

.nav-footer-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    margin: 0px;
}

.nav-footer-cont li {
    margin: 0px;
    padding: 15px;
}

@media(max-width: 1200px){
    .footer-links {
        justify-content: space-evenly;
    }


}

@media(max-width: 544.5px){
    .nav-footer-cont {
        justify-content: center;
    }

    .input-box {
        width: 90vw;
    }
}

@media(max-width: 800px){
    .input-box {
        width: 90vw;
    }
}